aiofiles==0.6.0
aiohttp==3.7.4.post0
aiosqlite==0.16.1
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
discord==1.0.1
discord.py==1.7.1
idna==3.1
iso8601==0.1.14
multidict==5.1.0
Pillow==8.2.0
pypika-tortoise==0.1.0
pytz==2020.5
tortoise-orm==0.17.2
typing-extensions==3.7.4.3
yarl==1.6.3
